{% import "Ceres::Basket.Macros.AddToBasket" as AddToBasket %}
{% import "Ceres::Item.Macros.AgeRestriction" as AgeRestriction %}

{% set itemData = config("Ceres.item.data") | split(', ') %}
{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}

{% set var = getFree(item.documents[0].data.item.id) %}

<script type="x/template" id="vue-single-item">
    <div>
        <div class="single container-max page-content">
            <div class="row position-relative">

                <div class="col-md-7">
                    <slot name="ImageCarousel"></slot>
                </div>

                <div class="col-md-5 single-rightside">
                    {% include "Ceres::Item.Components.SingleItem.SingleItem_Details" %}
                    <ul class="fp24-some-share">
                      <li class="social-share facebook"><img src="https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/facebook.png" alt="Facebook" /></li>
                      <li class="social-share twitter"><img src="https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/twitter.png" alt="Twitter" /></li>
                      <li class="social-share linkedin"><img src="https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/linkedin.png" alt="LinkedIn" /></li>
                    </ul>
                </div>

                <div class="col-md-7">
                    {% include "FirstPrice24::Item.Components.SingleItem.SingleItem_InformationTable" %}
                </div>
            </div>

            <slot name="ItemListContainer"></slot>
            <slot name="FeedbackContainer"></slot>
        </div>
    </div>
</script>
