{% set var = getFree(item.documents[0].data.item.id) %}

<!-- ITEM DESCRIPTION -->
<div class="my-5">
    <ul class="nav nav-tabs" role="tablist">
        {% if 'item.description' in itemData or 'all' in itemData %}
            <li class="nav-item" v-if="isDescriptionTabActive">
                <a class="nav-link active" data-toggle="tab" :href="'#details-' +  currentVariation.variation.id" role="tab">{{ trans("Ceres::Template.singleItemDescription") }}</a>
            </li>
        {% endif %}

        {% if 'item.technical_data' in itemData or 'all' in itemData %}
            <!-- <li class="nav-item" v-if="isTechnicalDataTabActive">
                <a :class="{ 'active': !isDescriptionTabActive && isTechnicalDataTabActive }" class="nav-link" data-toggle="tab" :href="'#data-' + currentVariation.variation.id" role="tab">{{ trans("Ceres::Template.singleItemTechnicalData") }}</a>
            </li> -->
        {% endif %}

        {% if var.free7 %}

            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#my-custom-tab" role="tab">Produktvideo</a>
            </li>

        {% endif %}

       <!-- <li class="nav-item">
            <a :class="{ 'active': !isDescriptionTabActive && !isTechnicalDataTabActive }" class="nav-link" data-toggle="tab" href="#assessments-details" role="tab">{{ trans("Ceres::Template.singleItemMoreDetails") }}</a>
        </li> -->

        <slot name="AddDetailTabs"></slot>
    </ul>

    <div class="tab-content">
        {% if 'item.description' in itemData or 'all' in itemData %}
            <div class="tab-pane active overflow-auto" :id="'details-' + currentVariation.variation.id" role="tabpanel" v-if="isDescriptionTabActive">
                <div class="my-4" v-html="currentVariation.texts.description">
                </div>
            </div>
        {% endif %}

        {% if 'item.technical_data' in itemData or 'all' in itemData %}
            <!-- <div :class="{ 'active': !isDescriptionTabActive && isTechnicalDataTabActive }" class="tab-pane" :id="'data-' + currentVariation.variation.id" role="tabpanel" v-if="isTechnicalDataTabActive">
                <div class="my-4" v-html="currentVariation.texts.technicalData">
                </div>
            </div> -->
        {% endif %}


	        <div class="tab-pane" id="my-custom-tab" role="tabpanel">
	            <div class="m-y-2">
	                <div class='embed-container yt-videos'>
	                    <slot name="produktvideo"></slot>
	                </div>
	            </div>
	        </div>




        <slot name="AddDetailTabsContent"></slot>
    </div>
</div>
<!-- ./ITEM DESCRIPTION -->