/* abel-regular - latin */
@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/fonts/abel-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Abel Regular'), local('Abel-Regular'),
       url('https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/fonts/abel-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/fonts/abel-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/fonts/abel-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/fonts/abel-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/fonts/abel-v9-latin-regular.svg#Abel') format('svg'); /* Legacy iOS */
}

*{
  font-family: 'Abel', sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cc-window {
    z-index: 99999999990;
}

.holiday-txt * {
    text-align: center;
    font-size: 18px !important;
}

.holiday-txt {
    max-width: 800px !important;
    margin: 60px auto 0px auto;
    background: #4568f012;
    padding: 40px;
}

.grecaptcha-badge{
    z-index: 1;
}

@media(min-width: 648px){
    .grecaptcha-badge{
        bottom: 184px !important;
    }
}

p.holi-title {
    font-size: 28px !important;
}

.widget-caption.mb-3.bg-appearance,
.widget-caption.mb-3.bg-appearance * {
    background: none !important;
    text-align: center !important;
    width: 100%;
}

.fp-article-list .widget-caption.mb-3.bg-appearance .widget-item-list-inline-caption p {
    text-align: left !important;
    font-size: 2em;
    border-top: 1px solid grey;
    padding-top: 20px !important;
}

div#page-body {
    padding-top: 260px;
}

/** GENERAL & CONTAINER **/

.container-max.page-header{
    position: relative;
}

.page-header .cmp {
    position: absolute;
    z-index: 9999;
    top: 33px;
    left: 0px;
    width: 100%;
}

.pluginset-preview-overlay{
	display: none !important;
}

body{
    background-color: #99B0C2;
    background-attachment: fixed;
    background-image: url(https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body>#vue-app,
body>#vue-error,
.wrapper-main #page-header.top-bar,
.navbar{
	background: none;
    padding: 0px !important;
}


.fp-article-merkmal b,
.fp-article-merkmal strong{
    min-width: 130px;
    display: inline-block;
    min-height: 39px;
}

ul#controlsList * {
    font-size: 13px;
}

nav.navbar .container-max>div.row {
    display: block !important;
    text-align: left !important;
    justify-content: left !important;
}

#vue-app,
#vue-error{
	margin-top: 0px !important;
}

body>#vue-app .wrapper-main, body>#vue-error .wrapper-main {
    position: inherit;
}

.container-max.fp24-container {
    background: white;
    box-shadow: 0px 0px 10px #0000001f;
}

.wrapper.header-wrap.wrapper-main,
.wrapper.footer-wrap.wrapper-main {
    overflow: visible !important;
    margin-left: -15px;
    margin-right: -15px;
}

.left{float: left;}
.right{float: right;}
.clear{clear:both;}


/** HEADER **/

header#page-header.fixed-top {
    position: fixed;
    top: 0px;
    left: 0px;
    background: none !important;
}

.wrapper-main .navbar{
	border: none !important;
}

.brand-wrapper {
    display: block !important;
    position: inherit;
    width: 100% !important;
    transform: none !important;
    background: url(https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/header_all.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: left center !important;
    padding: 15px 30px;
}

.wrapper.header-wrap.wrapper-main {
    padding-top: 218px;
}

.brand-wrapper .navbar-brand img {
    max-height: inherit;
    max-width: 250px;
}

.row.mx-0.top-bar-row {
    background-image: -moz-linear-gradient(0% 58% 0deg,rgb(247,247,247) 0%,rgb(255,255,255) 100%);
    background-image: -webkit-gradient(linear,0% 58%,79% 58%,color-stop(0, rgb(247,247,247)),color-stop(1, rgb(255,255,255)));
    background-image: -webkit-linear-gradient(0deg,rgb(247,247,247) 0%,rgb(255,255,255) 100%);
    background-image: -o-linear-gradient(0deg,rgb(247,247,247) 0%,rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient(0deg,rgb(247,247,247) 0%,rgb(255,255,255) 100%);
    background-image: linear-gradient(90deg,rgb(247,247,247) 0%,rgb(255,255,255) 100%);
    border-bottom: 1px solid #eaeaea;
}

.row.mx-0.top-bar-row * {
    color: #333;
}

.top-bar-row .anicon>.anicon-search-item:before{
	background: #333;
}

.top-bar-row .anicon>.anicon-search-item:after{
	background: #fefefe;
	border-color: #333;
}

header .container-max {
    padding: 0px;
}

#vue-app{
	background: white !important;
    box-shadow: 0px 0px 10px #0000001f;
    max-width: 1200px;
    z-index: auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

img.h-siegel {
    width: 64px;
    margin-left: 20px;
    margin-top: 24px;
}

@media(max-width: 992px){

    button#btnMainMenuToggler {
        position: absolute;
        right: 7px;
        top: 40px;
    }

    div#page-body {
        padding-top: 210px;
    }

    img.slider-logo{
        max-width: 125px;
    }

	.siegels img {
        width: 40px;
        margin-left: 5px;
    }

    .siegels {
        position: relative;
        right: 50px;
        top: -4px;
    }

    #mainNavbarCollapsable{
        display: none !important;
    }

    #page-header .container-max{
        display: block !important;
    }
}

.cmp-country-settings,
.cmp-currency-select {
    background: white;
    color: #333;
    box-shadow: 0px 4px 5px #0000001a;
    max-width: 1200px;
}

.cmp-country-settings ul li a, 
.cmp-currency-select ul li a {
    color: #333;
}


.top-bar .controls-list .control-languages a[aria-expanded="true"], .top-bar .controls-list .control-search a[aria-expanded="true"] {
    background: linear-gradient(180deg,rgb(234, 234, 234) 0%,rgb(255,255,255) 100%);
}

.modal-backdrop {
    z-index: 99999;
}
.modal {
    z-index: 99999999;
}

body>#vue-app>.wrapper-top,
body>#vue-app>.wrapper-left,
body>#vue-app>.wrapper-right,
body>#vue-app>.wrapper-bottom,
body>#vue-error>.wrapper-top,
body>#vue-error>.wrapper-left,
body>#vue-error>.wrapper-right,
body>#vue-error>.wrapper-bottom{
    z-index: 999999;
}

body>#vue-app>.wrapper-right {
    z-index: 9999999999;
}

.cc-revoke, .cc-window {
    z-index: 99999999999;
}

.cmp-search-box .search-input {
    padding: 10px;
}

/** DESKTOP NAVIGATION **/

@media(min-width: 992px){
	#mainNavbarCollapsable ul.mainmenu>li a:after {
	    display: none !important;
	}

	#mainNavbarCollapsable ul.mainmenu>li>a {
	    padding: 12px 8px 10px 8px;
	    font-size: 16px;
        display: inline-block;
	}

    #page-header .row.mx-0{
        width: 100% !important;
    }

    ul.breadcrumb {
        display: none !important;
    }

    .navbar{
        padding: 0px !important;
    }

	#mainNavbarCollapsable ul.mainmenu {
	    background: #fccb40 !important;
	    color: #333 !important;
	    width: 100% !important;
	    border-bottom: 5px solid #4567F1;
	    padding-left: 23px;
        display: block !important;
        text-align: left !important;
	}

    #mainNavbarCollapsable ul.mainmenu * {
        color: #333 !important;
    }

    /* CERES 5 UPDATE */

    ul.mainmenu li.ddown {
        position: relative;
    }

    ul.mainmenu li.ddown > ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0px;
        background: #4568f0;
        padding: 0px;
        margin: 0px;
        min-width: 100%;
    }

    ul.mainmenu li.ddown:hover > ul {
        display: block;
    }

    ul.mainmenu li.ddown ul li {
        display: block !important;
        float: none !important;
        justify-content: inherit !important;
        height: auto !important;
    }

    ul.mainmenu li.ddown ul li ul {
        padding: 0px !important;
    }

    ul.mainmenu li.ddown ul li ul a {
        padding: 10px !important;
        display: block !important;
    }




    ul#controlsList {
        padding: 0px !important;
        margin: 0px !important;
    }

    a.toggle-basket-preview {
        padding: 0.5rem .8rem;
        display: inline-block;
        margin: 0px !important;
    }

    #mainNavbarCollapsable ul.mainmenu li {
        display: inline-block;
        width: auto !important;
    }

	#mainNavbarCollapsable ul.mainmenu li.ddown:hover ul {
	    visibility: visible !important;
	    opacity: 1;
	}

	#mainNavbarCollapsable ul.mainmenu>li:hover a {
	    background: #ffffff2b;
	}

    #mainNavbarCollapsable ul.mainmenu li ul li a{
        background: #4568f0 !important;
        color: white !important;
    }

    #mainNavbarCollapsable ul.mainmenu li ul li:hover a{
        background: #3156e2 !important;
    }

	#searchBox{
	    background-color: #fcca40f0;
	    width: 100%;
	    height: 100%;
	    top: 0px !important;
        position: fixed;
	}

	#searchBox .search-box-inner {
	    width: 100%;
	    height: 100%;
	}

	#searchBox .search-box-shadow-frame {
	    position: absolute;
	    top: 50%;
	    width: 100%;
	    max-width: 560px;
	    left: 50%;
	    transform: translate(-50%,-50%);
	}

	a.anicon.anicon-search-xcross {
	    position: relative;
	    z-index: 99999;
	}

	.top-bar .controls-list .control-search a[aria-expanded="true"]{
		background: transparent;
	    position: fixed;
	    right: 20px;
	    top: 20px;
	    transform: scale(2);
	}
}

.widget-caption.mb-3.bg-appearance a {
    display: none;
}


/** CONTENT **/

body>#vue-app.overlay::after,
body>#vue-app.open-right::after,
body>#vue-app.open-left::after,
body>#vue-app.open-top::after,
body>#vue-app.open-bottom::after,
body>#vue-error.overlay::after,
body>#vue-error.open-right::after,
body>#vue-error.open-left::after,
body>#vue-error.open-top::after,
body>#vue-error.open-bottom::after {
    z-index: 99999;
}

@media (max-width: 767.98px){
    body>#vue-app.open-right, body>#vue-error.open-right {
        height: 100%;
        z-index: 9999999999;
    }
}

.cmp-product-thumb .special-tags {
    top: -7px;
    left: -7px;
}

.cmp-product-thumb .special-tags span.badge {
    box-shadow: none !important;
    padding: 4px 15px !important;
    top: 0px !important;
}

.cmp-product-thumb .crossprice,
.single-rightside .crossprice del{
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    position: relative;
}

del.crossprice:before,
.single-rightside .crossprice del:before{
    content: "";
    width: 100%;
    height: 2px;
    background: red;
    position: absolute;
    top: 8px;
    transform: rotate(-4deg);
}

@media(max-width: 400px){
    .cmp-product-thumb .prices {
        display: block;
    }

    .cmp-product-thumb .prices .price-view-port {
        margin-bottom: 5px;
    }
}

.fp24-title,
#front-page h1,
#front-page h2,
#front-page h3,
#front-page h4{
    font-size: 32px;
    text-align: center;
    margin-top: 60px;
}

#front-page .badge.availability-preview {
    display: inline-block;
}

.availability-preview.badge {
    padding-left: 0px !important;
    font-size: 90% !important;
}

p.fp24-intro {
    font-size: 18px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.further-front-infos h2 {
    text-align: left !important;
    margin-bottom: 10px;
    margin-top: 13px !important;
    position: relative;
}


.row.further-front-infos {
    background: #fafafb;
    border-top: 5px solid #1d7bff;
    border-bottom: 5px solid #1d7bff;
    position: relative;
    padding: 20px;
}

.further-front-infos p {
    font-size: 16px;
}

.row.further-front-infos:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 12px 12px;
    border-color: transparent transparent #007bff transparent;
    content: "";
    position: absolute;
    bottom: 0px;
    left: calc(50% - 12px);
}

.row.further-front-infos:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #007bff transparent transparent transparent;
    content: "";
    position: absolute;
    top: 0px;
    left: calc(50% - 12px);
}

.top-marken-wrap {
    text-align: center;
}

.top-marken-wrap img {
    margin: 20px 20px 0px 20px;
}

.widget-primary .bg-appearance {
    background: none;
}

.badge.availability-preview span {
    color: orange;
}

.badge.availability-preview.green-label span {
    color: #00c500;
}

/** KATEGORIE **/  

.page-content {
    background: white !important;
} 

small, .small, .btn-labeled, .basket-preview .totals{
    font-size: 90%;
}

.cmp-product-thumb .price,
.cmp-product-thumb .thumb-title{
    color: black !important;
}

.row.kategorie-beschreibung-lang {
    margin-top: 100px;
    border-top: 5px solid #007bff;
    padding: 40px 20px 25px 20px;
    position: relative;
    background: #fafafb;
}

.row.kategorie-beschreibung-lang:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #007bff transparent transparent transparent;
    content: "";
    position: absolute;
    top: 0px;
    left: calc(50% - 12px);
}

.basket-item-container .basket-item .meta-container-wrapper .meta-container-wrapper-inner .meta-container .item-name {
    font-size: 100%;
    line-height: 100% !important;
}

.row.kategorie-beschreibung-lang:after {
    content: "Weitere Informationen zum Thema";
    display: block;
    position: absolute;
    top: -30px;
    left: 0px;
    font-size: 16px;
    color: #1d7bff;
    font-style: italic;
}

.cmp-paginator .page-link {
    color: black;
}


/** FRONT SLIDER **/

.fp24-slide-text {
    position: absolute;
    top: 25px;
    left: 25px;
}

img.slide-feature-icons {
    position: absolute;
    bottom: 10px;
    left: 25px;
    width: calc(100% - 50px);
    max-width: 366px;
}

img.slider-logo{
    position: absolute;
    bottom: 10px;
    left: 25px;
    width: calc(100% - 50px);
    max-width: 175px;
}

span.fp24-slide-text-top {
    background: #4568f1;
    color: white;
    font-size: 33px;
    padding: 6px 15px;
}

span.fp24-slide-text-top {
    background: #4568f1;
    color: white;
    font-size: 33px;
    padding: 4px 15px 0px 15px;
    width: auto;
    display: inline-block;
}

span.fp24-slide-text-bottom {
    background: #4568f1;
    color: white;
    font-size: 18px;
    padding: 4px 15px 4px 15px;
    width: auto;
    display: inline-block;
    margin-top: 4px;
}

span.fp24-slide-button {
    background: url(https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/chevron-right.png) #fcca40;
    background-repeat: no-repeat;
    background-position: right 9px top 10px;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 6px 33px 6px 15px;
    margin-top: 16px;
    display: inline-block;
}

span.fp24-slide-button:hover {
    background-color: #ffdf85;
}

.carousel-control-next, .carousel-control-prev {
    max-width: 60px;
}

.carousel-control-prev{
    left: -50px;
}

.carousel-control-next{
    right: -50px;
}

.carousel-control-prev span:before,
.carousel-control-next span:before{
    font-size: 35px;
}

.widget.widget-image-carousel.widget-primary.widget-proportional.mb-5 {
    width: calc(100% - 50px);
    margin: 0 auto;
    overflow: visible;
    padding-bottom: 31.73333%;
}

.carousel-control-next:before,
.carousel-control-prev:before {
    position: relative;
    top: 10px;
    font: normal normal normal 14px/1 FontAwesome;
    color: #4d4f4d;
    font-size: 30px;
}

.carousel-control-next:hover:before, .carousel-control-prev:hover:before {
    color: #fccb40;
}

.carousel-item{
    overflow: hidden !important;
}


.vorteile{
    margin-top: 75px;
}

.row.vorteile > div {
    margin-bottom: 30px;
    cursor: pointer;
}

.vorteile .vorteil-img{
    margin-bottom: 15px;
    text-align: center;
}

.vorteile .vorteil-img img{
    max-height: 72px;
    min-width: 0px;
    -moz-transition:    all .3s;
    -o-transition:      all .3s;
    -webkit-transition: all .3s;
    transition:         all .3s;
}

.row.vorteile > div:hover img {
    behavior:           url(-ms-transform.htc);  
    -moz-transform:     scale(1.15);
    -webkit-transform:  scale(1.15);
    -o-transform:       scale(1.15);
    -ms-transform:      sale(1.15);
}

.vorteile p{
    font-size: 18px;
    color: #333333;
    text-align: center;
    max-width: 220px;
    margin: 0 auto;
}

.btn-link{
    color: #333333;
}

.fp24-some-share {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.fp24-some-share li {
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
}

.fp24-some-share li:hover{
    opacity: 0.5;
}

.sidebar-categories ul li.active>a {
    background: none;
    font-weight: bold !important;
    color: #000000 !important;
}

.sidebar-categories ul li a{
    font-size: 16px;
}

.sidebar-categories > ul > li {
    border-bottom: 1px solid #dadada;
}

.sidebar-categories .category-title {
    font-size: 16px;
    padding-left: 1.25rem;
}

/** SINGLE ITEM **/

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

span.availability.badge {
    padding: 10px;
    font-size: 12px;
}

span.availability.badge *{
    color: white;
}

a.nav-link.bg-appearance {
    background: #fccb40 !important;
}


ul.nav.nav-tabs a {
    color: black;
}


    .single .nav-tabs .nav-item .nav-link.active {
        background: #fccb40;
        color: #333 !important;
    }

    .single .nav-tabs .nav-item .nav-link {
        font-size: 15px;
    }


ul.breadcrumb * {
    color: grey;
    font-weight: bold !important;
    font-size: 13px !important;
}

.mobile-navigation ul.breadcrumb * {
    color: white !important;
}

div#add-item-to-basket-overlay #ppButton,
div#add-item-to-basket-overlay .amzPayButton {
    float: right;
    display: block !important;
    text-align: right;
    margin: 0px 10px 10px 0px;
}

.single.container-max.page-content > div {
    margin-bottom: 60px;
}

.btn-outline-primary {
    color: #333;
    border-color: #333;
}

.checkout .paypal-installment-specific-promotion {
    border: 2px solid #fcca40;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.checkout .paypal-installment-specific-promotion a,
a.item-name.text-primary.text-appearance{
   color: #333;
}

.single .paypal-installment-specific-promotion {
    height: 50px;
    overflow: hidden;
    padding-left: 13px;
    margin-top: 15px;
    margin-bottom: 10px;
        border: none;
}

.row.cmp-contact * {
    font-size: 16px;
}

.sidebar-categories > ul > li.active > a {
    background: #fcca40;
}

.sidebar-categories > ul > li.active > ul a {
    background: #f9f9f9;
}

.checkout .paypal-installment-specific-promotion {
    margin-top: 15px;
    margin-bottom: 10px;

}

.single .paypal-installment-specific-promotion b,
.single .paypal-installment-specific-promotion h4 {
    font-weight: normal !important;
    color: #7f878e !important;
    font-size: 14px;
    line-height: 150%;
    text-align: left !important;
}

.checkout .paypal-installment-specific-promotion,
.checkout .paypal-installment-specific-promotion *{
    font-size: 14px;
    line-height: 150%;
    color: #7f878e !important;
}

.checkout .paypal-installment-specific-promotion a {
    color: #333 !important;
}

.single .amzPayButton {
    max-width: 160px;
}

/** FOOTER **/

.footer {
    padding: 15px;
    background: #333;
}

.footer img {
    max-width: 100%;
}

.footer * {
    color: white;
}

.footer p a,
.copy-footer a{
	color: #fbbd00;
}

.footer p a:hover,
.copy-footer a:hover{
	color: white;
	text-decoration: underline;
}

.footer-siegel img.h-siegel {
    margin-left: 0px;
    margin-right: 14px;
    margin-top: 3px;
    background: white;
    border-radius: 100%;
    padding: 3px;
}

img.footer-top {
    max-width: 100%;
    height: auto;
    backface-visibility: hidden;
        margin-top: 80px;
}

p.fp24-footer-title{
    color: #fbbd00;
    text-transform: uppercase;
    padding-top: 20px;
}

@media(max-width: 992px){
	p.fp24-footer-title {
	    padding-top: 50px;
	}

    .wrapper.header-wrap.wrapper-main {
        padding-top: 169px;
    }
}

.single-rightside span.articlenumber.small.text-muted b {
    min-width: 110px;
    display: inline-block;
    margin-bottom: 10px;
}

.single-add-to{
    max-width: 350px;
}

img.category-image-fp {
    margin: 10px 0px;
    max-width: 100%;
}

ul.fp24-links {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul.fp24-links li{
	margin-bottom: 5px;
}

ul.fp24-links li a {
    color: white;
}

ul.fp24-links li a:hover {
    color: #fbbd00;
}

ul.vorteile-liste {
    list-style: none;
    padding-left: 0px;
}

ul.vorteile-liste li{
    position: relative;
    padding-left: 18px;
    margin-bottom: 5px;
}

ul.vorteile-liste li:before {
    content: "+";
    position: absolute;
    left: 0px;
}

.some-footer img {
    margin-right: 10px;
}

.some-footer img:hover {
    opacity: 0.75;
}

.copy-footer {
    margin-top: 30px;
    background: #2b2b2b;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -15px;
    padding: 10px;
    text-align: center;
}

.basket-preview-content div#ppButton,
.basket-preview-content .amzPayButton {
    width: 40%;
}

.basket-preview-content div#ppButton *,
.basket-preview-content .amzPayButton *{
    max-width: 100%;
    height: auto;
}

.basket-preview-content div#ppButton {
    position: relative;
    right: calc(-40% - 7px);
    top: -45px;
    margin-bottom: -35px;
}

.text-primary {
    color: black !important;
}

.category-description{
    font-size: 16px;
}

.row.mx-0.top-bar-row {
    justify-content: space-between;
    -webkit-box-direction: normal !important;
    flex-direction: inherit !important;
}

.desktop-top-bar-usps {
    display: flex;
}

.desktop-top-bar-usps {
    display: flex;
    line-height: 32px;
    padding-left: 12px;
}

.desktop-top-bar-usps span {
    margin-right: 25px;
}

body.page-category-content.page-category .main {
    padding-left: 3vw;
    padding-right: 3vw;
}

@media(max-width: 920px){
    .desktop-top-bar-usps {
         display: none !important;
    }

    .row.mx-0.top-bar-row{
        -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
    }
}

@media(max-width: 768px){

    .widget.widget-image-carousel.widget-primary.widget-proportional.mb-5{
        width: 100%;
        padding-bottom: 40%;
    }

    .widget-image-carousel .widget-inner .carousel-item img.img-cover{
        object-position: left;
    }

    .vorteile > div {
        width: 50% !important;
        flex: 0 0 50%;
    }

    .vorteile .widget-inner.bg-appearance {
        padding: 0px !important;
        margin-top: 15px;
    }

    .carousel-control-prev span:before, .carousel-control-next span:before {
        font-size: 18px;
        position: relative;
        top: -10px;
    }

    .vorteil-img, .vorteil-img a {
        margin: 0px !important;
        padding: 0px !important;
        height: auto !important;
        min-height: 0px !important;
    }

    button#btnMainMenuToggler {
        position: absolute;
        right: 7px;
        top: 27px;
    }

    div#page-body {
        padding-top: 140px;
    }


    .brand-wrapper .navbar-brand img{
        max-width: 160px;
    }

    div#front-page {
        overflow: hidden;
    }

    .wrapper.header-wrap.wrapper-main {
        padding-top: 124px !important;
    }

    .brand-wrapper{
        padding: 0px 30px 5px 22px;
    }

    .fp24-slide-text {
        top: 10px;
        left: 10px;
    }

    img.slide-feature-icons {
        display:none;
    }

    img.slider-logo{
        background: white;
        padding: 5px;
        left: 10px;
        max-width: 80px;
    }

    span.fp24-slide-text-top {
        font-size: 20px;
        padding: 0px 15px 0px 15px;
    }

    span.fp24-slide-text-bottom {
        font-size: 14px;
        padding: 3px 15px 3px 8px;
    }

    span.fp24-slide-button {
        background-size: 6px 10px;
        background-repeat: no-repeat;
        background-position: right 8px top 12px;
        font-size: 16px;
        padding: 5px 27px 4px 8px;
        margin-top: 10px;
    }

    .carousel-control-next:before,
    .carousel-control-prev:before {
        font-size: 18px;
    }

    .carousel-control-prev{
        left: -33px;
    }

    .carousel-control-next{
        right: -33px;
    }

    .fp24-front img.img-fluid {
        height: 280px;
        width: auto !important;
        max-width: 300% !important;
    }

    .fp24-front img.img-fluid.mobile-right {
        float: right;
    }



    span.fp24-slide-text-bottom {
        display: none;
    }

    span.fp24-slide-button {
            margin-top: 0px;
    position: relative;
    top: -15px;
    font-size: 14px;
    }

    body>#vue-app{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .wrapper.header-wrap.wrapper-main, .wrapper.footer-wrap.wrapper-main{
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

}

.form-check label.form-check-label {
    font-size: 16px;
    position: relative;
    top: -3px;
}

.form-check label.form-check-label {
    font-size: 16px;
    position: relative;
    top: -3px;
}

.form-check label.form-check-label a *{
    color: #fcca40 !important;
}

.form-check label.form-check-label a:hover *{
    color: #333 !important;
}

.wish-list-name {
    color: black;
}

.wish-list-name:hover {
    color: #fccb40;
}

@media(max-width: 430px){

    div#tsbadgeResponsiveTop_db8d3657bdbe440c985ae127463eaad4 {
        display: none !important;
    }

    .fp24-front img.img-fluid {
        min-height: 160px;
        width: auto !important;
        max-width: 9999px !important;
        max-height: 200px;
    }

    h1#searchPageTitle {
        margin-top: -25px;
    }

    .list-controls.mb-5.row {
        display: none;
    }

    .page-content.basket,
    .page-content.checkout,
    .page-content.contact,
    .page-content.myaccount {
        margin-top: -10px;
    }

    .container-max.login{
        margin-top: 10px !important;
    }

    h1.login-view-title.mb-5 {
        margin-bottom: 20px !important;
    }

    .brand-wrapper {
        padding: 0px 30px 5px 8px;
    }
}





