.wrapper {
    background-color: #99B0C2;
    background-attachment: fixed;
    background-image: url(https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}