/* abel-regular - latin */
@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/fonts/abel-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Abel Regular'), local('Abel-Regular'),
       url('https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/fonts/abel-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/fonts/abel-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/fonts/abel-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/fonts/abel-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/fonts/abel-v9-latin-regular.svg#Abel') format('svg'); /* Legacy iOS */
}

*{
  font-family: 'Abel', sans-serif;
  color: #333;
}

/** GENERAL & CONTAINER **/

.pluginset-preview-overlay{
	display: none !important;
}

body{
    background-color: #99B0C2;
    background-attachment: fixed;
    background-image: url(https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body>#vue-app,
body>#vue-error,
.wrapper-main #page-header.top-bar,
.navbar{
	background: none;
}

.wrapper-main header .controls-list>li {
    font-size: 13px;
}

#vue-app,
#vue-error{
	margin-top: 0px !important;
}

body>#vue-app .wrapper-main, body>#vue-error .wrapper-main {
    position: inherit;
}

.container-max.fp24-container {
    background: white;
    box-shadow: 0px 0px 10px #0000001f;
}

.wrapper.header-wrap.wrapper-main,
.wrapper.footer-wrap.wrapper-main {
    overflow: visible !important;
    margin-left: -15px;
    margin-right: -15px;
}

.left{float: left;}
.right{float: right;}
.clear{clear:both;}


/** HEADER **/

header#page-header.fixed-top {
    position: inherit;
    width: auto;
    display: block;
}

.wrapper-main .navbar{
	border: none !important;
}

.brand-wrapper {
    display: block !important;
    position: inherit;
    width: 100% !important;
    transform: none !important;
    background: url(https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/header_all.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: left center !important;
    padding: 15px 30px;
}

.brand-wrapper .navbar-brand img {
    max-height: inherit;
    max-width: 250px;
}

.row.mx-0.top-bar-row {
    background-image: -moz-linear-gradient(0% 58% 0deg,rgb(247,247,247) 0%,rgb(255,255,255) 100%);
    background-image: -webkit-gradient(linear,0% 58%,79% 58%,color-stop(0, rgb(247,247,247)),color-stop(1, rgb(255,255,255)));
    background-image: -webkit-linear-gradient(0deg,rgb(247,247,247) 0%,rgb(255,255,255) 100%);
    background-image: -o-linear-gradient(0deg,rgb(247,247,247) 0%,rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient(0deg,rgb(247,247,247) 0%,rgb(255,255,255) 100%);
    background-image: linear-gradient(90deg,rgb(247,247,247) 0%,rgb(255,255,255) 100%);
    border-bottom: 1px solid #eaeaea;
}

.row.mx-0.top-bar-row * {
    color: #333;
}

.top-bar-row .anicon>.anicon-search-item:before{
	background: #333;
}

.top-bar-row .anicon>.anicon-search-item:after{
	background: #fefefe;
	border-color: #333;
}

header .container-max {
    padding: 0px;
}

#vue-app{
	background: white !important;
    box-shadow: 0px 0px 10px #0000001f;
    max-width: 1200px;
    z-index: auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

img.h-siegel {
    width: 64px;
    margin-left: 20px;
    margin-top: 24px;
}

@media(max-width: 992px){
	.siegels{
		display: none;
	}
}

.cmp-country-settings,
.cmp-currency-select {
    background: white;
    color: #333;
    box-shadow: 0px 4px 5px #0000001a;
    max-width: 1200px;
}

.cmp-country-settings ul li a, 
.cmp-currency-select ul li a {
    color: #333;
}


.top-bar .controls-list .control-languages a[aria-expanded="true"], .top-bar .controls-list .control-search a[aria-expanded="true"] {
    background: linear-gradient(180deg,rgb(234, 234, 234) 0%,rgb(255,255,255) 100%);
}

.modal-backdrop {
    z-index: 99999;
}

body>#vue-app>.wrapper-top,
body>#vue-app>.wrapper-left,
body>#vue-app>.wrapper-right,
body>#vue-app>.wrapper-bottom,
body>#vue-error>.wrapper-top,
body>#vue-error>.wrapper-left,
body>#vue-error>.wrapper-right,
body>#vue-error>.wrapper-bottom{
    z-index: 999999;
}

.cmp-search-box .search-input {
    padding: 10px;
}

@media(max-width: 768px){
	.brand-wrapper .navbar-brand img{
		max-width: 160px;
	}

	.brand-wrapper{
		padding: 0px 30px 5px 22px;
	}
}

/** DESKTOP NAVIGATION **/

@media(min-width: 992px){
	#mainNavbarCollapsable ul.mainmenu>li a:after {
	    display: none !important;
	}

	#mainNavbarCollapsable ul.mainmenu>li>a {
	    padding: 12px 8px 10px 8px;
	    font-size: 16px;
	}

	#mainNavbarCollapsable ul.mainmenu {
	    background: #fccb40 !important;
	    color: #333 !important;
	    width: 100% !important;
	    border-bottom: 5px solid #4567F1;
	    padding-left: 23px;
	}

	#mainNavbarCollapsable ul.mainmenu li.ddown:hover ul {
	    visibility: visible !important;
	    opacity: 1;
	}

	#mainNavbarCollapsable ul.mainmenu>li:hover a {
	    background: #ffffff2b;
	}

	#searchBox{
	    background-color: #fcca40f0;
	    width: 100%;
	    height: 100%;
	    top: 0px !important;
	}

	#searchBox .search-box-inner {
	    width: 100%;
	    height: 100%;
	}

	#searchBox .search-box-shadow-frame {
	    position: absolute;
	    top: 50%;
	    width: 100%;
	    max-width: 560px;
	    left: 50%;
	    transform: translate(-50%,-50%);
	}

	a.anicon.anicon-search-xcross {
	    position: relative;
	    z-index: 99999;
	}

	.top-bar .controls-list .control-search a[aria-expanded="true"]{
		background: transparent;
	    position: fixed;
	    right: 20px;
	    top: 20px;
	    transform: scale(2);
	}
}


/** CONTENT **/

div#page-body {
    padding-top: 30px;
}

.fp24-title,
#front-page h1,
#front-page h2,
#front-page h3,
#front-page h4{
    font-size: 32px;
    text-align: center;
    margin-top: 60px;
}

p.fp24-intro {
    font-size: 18px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.further-front-infos h2 {
    text-align: left !important;
    margin-bottom: 10px;
    margin-top: 13px !important;
    position: relative;
}


.row.further-front-infos {
    background: #1d7bff08;
    position: relative;
    padding: 20px;
}

.further-front-infos p {
    font-size: 16px;
}

.row.further-front-infos:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 12px 12px;
    border-color: transparent transparent #007bff transparent;
    content: "";
    position: absolute;
    top: 0px;
    left: calc(50% - 12px);
}

.row.further-front-infos:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #007bff transparent transparent transparent;
    content: "";
    position: absolute;
    bottom: 0px;
    left: calc(50% - 12px);
}

.top-marken-wrap {
    text-align: center;
}

.top-marken-wrap img {
    margin: 20px 20px 0px 20px;
}

/** FRONT SLIDER **/

.fp24-slide-text {
    position: absolute;
    top: 25px;
    left: 25px;
}

span.fp24-slide-text-top {
    background: #4568f1;
    color: white;
    font-size: 33px;
    padding: 6px 15px;
}

span.fp24-slide-text-top {
    background: #4568f1;
    color: white;
    font-size: 33px;
    padding: 4px 15px 0px 15px;
    width: auto;
    display: inline-block;
}

span.fp24-slide-text-bottom {
    background: #4568f1;
    color: white;
    font-size: 18px;
    padding: 4px 15px 4px 15px;
    width: auto;
    display: inline-block;
    margin-top: 4px;
}

span.fp24-slide-button {
    background: url(https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/chevron-right.png) #fcca40;
    background-repeat: no-repeat;
    background-position: right 9px top 10px;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 6px 33px 6px 15px;
    margin-top: 16px;
    display: inline-block;
}

span.fp24-slide-button:hover {
    background-color: #ffdf85;
}

.vorteile{
    margin-top: 75px;
}

.row.vorteile > div {
    margin-bottom: 30px;
}

.vorteile .vorteil-img{
    margin-bottom: 15px;
    text-align: center;
}

.vorteile .vorteil-img img{
    max-height: 72px;
}

.vorteile p{
    font-size: 18px;
    color: #333333;
    text-align: center;
    max-width: 220px;
    margin: 0 auto;
}



/** FOOTER **/

.footer {
    padding: 15px;
    background: #333;
}

.footer * {
    color: white;
}

.footer p a{
	color: #fbbd00;
}

.footer p a:hover{
	color: white;
	text-decoration: underline;
}

.footer-siegel img.h-siegel {
    margin-left: 0px;
    margin-right: 14px;
    margin-top: 3px;
    background: white;
    border-radius: 100%;
    padding: 3px;
}

img.footer-top {
    max-width: 100%;
    height: auto;
    backface-visibility: hidden;
        margin-top: 80px;
}

p.fp24-footer-title{
    color: #fbbd00;
    text-transform: uppercase;
    padding-top: 20px;
}

@media(max-width: 992px){
	p.fp24-footer-title {
	    padding-top: 50px;
	}
}

ul.fp24-links {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul.fp24-links li{
	margin-bottom: 5px;
}

ul.fp24-links li a {
    color: white;
}

ul.fp24-links li a:hover {
    color: #fbbd00;
}

ul.vorteile-liste {
    list-style: none;
    padding-left: 0px;
}

ul.vorteile-liste li{
    position: relative;
    padding-left: 18px;
    margin-bottom: 5px;
}

ul.vorteile-liste li:before {
    content: "+";
    position: absolute;
    left: 0px;
}







