{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set numberOfCols = config('Ceres.footer.number_of_cols') %}
{% set colSize = (12 / (numberOfCols + 1)) %}
{% set displayedCategories = [] %}
{% set numberOfFeatures = config('Ceres.footer.number_of_features') %}
{% set topButtonPosition = config('Ceres.footer.to_top_button') %}

{% set footerContainer = LayoutContainer.show("Ceres::Footer") | trim %}
{% if footerContainer is empty %}


<img src="https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/footer-top.png" class="footer-top"/>

<div class="footer">

    <div class="{% if topButtonPosition == "right" %}back-to-top{% else %}back-to-top-center{% endif %} hidden-sm-down">
        <i class="fa fa-chevron-up"></i>
    </div>

    <div class="to-top d-md-none" v-scroll-to-top>
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </div>


    <div class="container-max fp24-footer">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
            	<p class="fp24-footer-title">Service-Hotline</p>
            	<p>040-413 48 752<br>
            	Mo.-Fr. 9:00 bis 17:00</p>
            	<div class="footer-siegel">
	            	<img src="https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/trusted-shops-siegel.png" alt="Trusted Shops" title="Trusted Shops" class="h-siegel"/>

	                <img src="https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/haendlerbund-siegel.png" alt="Hänlderbund Mitglied" title="Händlerbund Mitglied" class="h-siegel"/>
	            </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
            	<p class="fp24-footer-title">Lieferung mit DHL</p>
            	<p>Mit dem DHL-Identcode können Sie <a href="https://nolp.dhl.de/nextt-online-public/report_popup.jsp?lang=de" target="_blank">hier</a> Online Ihre Sendung verfolgen.</p>

            	<img src="https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/logo_dhl.png" class="dhl-footer" alt="DHL" title="DHL"/>
            </div>

             <div class="col-lg-3 col-md-4 col-sm-6">
            	<p class="fp24-footer-title">Informationen & Service</p>
            	<ul class="fp24-links">
            		<li><a href="https://www.firstprice24.de/ueber-uns-neu/">Über uns</a></li>
            		<li><a data-toggle="modal" href="#login" title="Login">Mein Kundenkonto</a></li>
            		<li><a href="https://www.firstprice24.de/zahlung-und-versand/">Liefer- und Versandkosten</a></li>
            		<li><a href="https://www.firstprice24.de/zahlung-und-versand/">Zahlungsinformationen</a></li>
            		<li><a href="https://www.firstprice24.de/newsletter/">Newsletter</a></li>
            		<li><a href="https://www.firstprice24.de/kontakt/">Kontakt</a></li>
            	</ul>
            </div>

             <div class="col-lg-3 col-md-4 col-sm-6">
            	<p class="fp24-footer-title">Unsere Vorteile</p>
            	<ul class="vorteile-liste">
            		<li>Deutschland- und Europaweiter Versand</li>
            		<li>Bequem und Sicher einkaufen</li>
            		<li>Trusted Shops zertifiziert</li>
            		<li>Kauf auch auf Rechnung</li>
            		<li>schnelle Lieferung mit DHL und DHL Express</li>
            		<li>Ab 59 € Versandkostenfrei</li>
            		<li>1 Monat Rückgaberecht</li>
            	</ul>
            </div>

             <div class="col-lg-3 col-md-4 col-sm-6">
            	<p class="fp24-footer-title">Trusted Shops</p>
            	<form name="formTrustedRating" class="trusted_shops_rating" method="post" action="https://www.trustedshops.com/bewertung/info_X35219BA0B39A0A90EF7C24BBDA78E9A6.html" target="_blank">
					<input style="border:0px" type="image" src="/tpl/X35219BA0B39A0A90EF7C24BBDA78E9A6_de_0.gif" alt="Kundenbewertungen einsehen!" title="Kundenbewertungen einsehen!">
				</form>
            </div>

             <div class="col-lg-3 col-md-4 col-sm-6">
            	<p class="fp24-footer-title">Händlerinformationen</p>
            	<ul class="fp24-links">
            		<li><a href="https://www.firstprice24.de/content/haendlerinformationen/">Händlerinformationen</a></li>
            		<li><a data-toggle="modal" href="#registration" title="Registrieren">Registrierung</a></li>
            		<li><a data-toggle="modal" href="#login" title="Login">Händler-Login</a></li>
            	</ul>
            	<p></p>
            </div>

             <div class="col-lg-3 col-md-4 col-sm-6">
            	<p class="fp24-footer-title">Rechtliches</p>
            	<ul class="fp24-links">
            		<li><a href="https://www.firstprice24.de/agb/">AGB</a></li>
            		<li><a href="https://www.firstprice24.de/datenschutz/">Datenschutz</a></li>
            		<li><a href="https://www.firstprice24.de/widerrufsrecht/">Widerrufsrecht</a></li>
            		<li><a href="https://www.firstprice24.de/batterieverordnung/">Batteriehinweis</a></li>
            		<li><a href="https://www.firstprice24.de/impressum/">Impressum</a></li>
   
            	</ul>
            </div>

             <div class="col-lg-3 col-md-4 col-sm-6">
            	<p class="fp24-footer-title">Zahlungsarten</p>
            	<img src="https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/ceres-zahlungsanbieter.png" alt="Zahlungsarten" title="Zahlungsarten"/>

                <p class="fp24-footer-title subtitle">Soziale Netzwerke</p>
                <div class="some-footer">
                    <a href="https://www.facebook.com/Firstprice24Onlineshop" target="_blank">
                        <img src="https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/facebook.png" alt="Facebook"/>
                    </a>

                    <a href="https://twitter.com/firstprice24" target="_blank">
                        <img src="https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/twitter.png" alt="Twitter"/>
                    </a>

                    <a href="https://www.youtube.com/user/firstprice24" target="_blank">
                        <img src="https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/youtube.png" alt="YouTube"/>
                    </a>

                </div>
            </div>


        </div>

        <div class="copy-footer">
            &copy; HaWoTEC GmbH. Alle Rechte vorbehalten. | * <span>inkl. ges. MwSt.</span> zzgl. <a title="Versandkosten" href="https://www.firstprice24.de/zahlung-und-versand/">Versandkosten</a></span>
        </div>
    </div>


</div>
{% else %}
    <div class="footer container-max">
        <div class="row">
            <div class="col clearfix">
                {{ footerContainer | raw }}
            </div>
        </div>
        <div class="{% if topButtonPosition == "right" %}back-to-top{% else %}back-to-top-center{% endif %} hidden-sm-down">
            <i class="fa fa-chevron-up"></i>
        </div>

        <div class="row">
            <div class="to-top hidden-md-up" v-scroll-to-top>
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </div>
        </div>
    </div>
{% endif %}
