{% set companyLogo  = config("Ceres.header.company_logo") %}
{% set lang         = services.sessionStorage.getLang() %}
{% set showHeaderNavBar = config("Ceres.header.show_navbars") %}
{% set companyName  = trans("Ceres::Template.headerCompanyName") %}
{% set useMegaMenu  = config("Ceres.header.megamenu_levels") > 1 %}

<nav class="navbar{% if useMegaMenu %} megamenu{%endif%}">
    <div class="container-max">
        <div class="row mx-0">
            <div class="brand-wrapper" {% if showHeaderNavBar == "side" %}style="position: relative"{% endif %}>
                <div class="left">
                    <a class="navbar-brand float-lg-left" href="{{ homepageURL }}">
                            <img alt="{{ companyName }}" src="https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/first-price-24.png" class="img-fluid" />
                    </a>

                    <button id="btnMainMenuToggler" v-open-mobile-navigation class="navbar-toggler d-lg-none" type="button">
                        &#9776;
                    </button>
                </div>
                <div class="right siegels">
                    <a href="https://www.trustedshops.com/bewertung/info_X35219BA0B39A0A90EF7C24BBDA78E9A6.html" target="_blank"><img src="https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/trusted-shops-siegel.png" alt="Trusted Shops" title="Trusted Shops" class="h-siegel"/></a>

                    <a href="https://www.haendlerbund.de/de/mitglied/13046A5C4D9" target="_blank"><img src="https://cdn02.plentymarkets.com/n8vxo78n72cv/frontend/Ceres/haendlerbund-siegel.png" alt="Hänlderbund Mitglied" title="Händlerbund Mitglied" class="h-siegel"/></a>
                </div>

                <div class="clear"></div>
            </div>

            <div id="mainNavbarCollapsable">
                <ul class="breadcrumb">
                    <li class="btnClose"></li>
                </ul>
                {% if showHeaderNavBar == "top" or showHeaderNavBar == "both" or not services.template.isCategory() %}
                    {# includeCached('Ceres::PageDesign.Partials.Header.NavigationList.twig') #}
                    {% include "Ceres::PageDesign.Partials.Header.NavigationList" %}
                {% endif %}
            </div>

        </div>
    </div>
</nav>